<!DOCTYPE html>
<html style="background-color: {{{backgroundColor}}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans:700italic' rel='stylesheet' type='text/css'>
    <title>{{title}}</title>


  </head>
  <body class='ov-{{page}}'>
    <div id="homeBg" class="ov-background"></div>
    {{{header}}}

    <div class="ov-me">
      <span class='ov-logo'>otissv</span> Full Stack Developer
    </div>

    </div>
    <div class="ov-content">
      {{{index}}}
      {{{projects}}}
      {{{about}}}
      {{{contact}}}
    </div>




    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bigtext.js"></script>
    <script src="js/bundle.js"></script>
    </script>
  </body>
</html>
